@import "../../styles/config";

.table {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid $color-primary;
  border-radius: 10px;
  width: 1000px;
  table {
    @extend %table;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .table {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .table {
    table {
      font-size: 14px;
      th {
        padding: 5px 5px;
      }
      td {
        padding: 5px 5px;
      }
    }
  }
}
