@import "../../styles/config";

.nav-mobile {
  display: none;
}
.nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: $color-primary;
  height: 66px;
  line-height: 19px;
  font-family: $main-font;
  p {
    position: absolute;
    right: 80px;
    top: 20px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
  }
  .list {
    display: flex;
    color: $white;
    font-size: 24px;
    display: flex;
    gap: 90px;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 20px;

    .list-item {
      list-style: none;

      a {
        cursor: pointer;
        text-decoration: none;
      }
      a:hover,
      a:active,
      a:visited {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
button {
  display: none;
}
@media (max-width: 1024px) {
  .nav {
    .list {
      gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  button {
    display: block;
    @extend %btn-nav;
    i {
      color: $white;
      font-size: 24px;
    }
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    display: flex;
    margin: 10px;
    position: fixed;
    background-color: $color-primary;
    height: 500px;
    width: 300px;
    flex-direction: column;
    button {
      @extend %btn-nav;
      background-color: $white;
      i {
        color: $color-primary;
        font-size: 24px;
      }
    }
    .list,
    p {
      color: $white;
      font-size: 24px;
      list-style: none;
      text-decoration: none;
      a,
      a:hover,
      a:active,
      a:visited {
        color: inherit;
        text-decoration: none;
      }
    }
    .list {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      margin-right: 20px;
    }
    p {
      margin-top: 40px;
      text-align: center;
    }
  }
}
