@import "../../styles/config";
.list {
  margin-top: 20px;
  font-family: $main-font;
  li {
    margin: 5px 0px;
    display: flex;
    width: 75%;
    justify-content: space-between;

    .buttons {
      button {
        border: none;
        background-color: inherit;
        i {
          color: rgb(78, 77, 77);
          font-size: 14px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .list {
    margin-top: 5px;
    li {
      width: 100%;
      margin-left: -20px;
    }
  }
}
