@if(item) {
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="ordered">
            <p>Ordered <span>..kg</span></p>
        </div>
        <div class="stock">
            <p>In stock <span>{{item.weight}}kg</span></p>
        </div>
        <div class="stock">
            <p>Batches planned: <span> ...</span></p>
        </div>
        <div>
            <div class="form-field">
                <label for="quantity">Already roasted:</label>
                <input type="number" [(ngModel)]="roasted" name="quantity" id="quantity">
            </div>
        </div>
        <div class="stock">
            <p>Batches left: <span>...</span></p>
        </div>
    </mat-card-content>
</mat-card>
}