<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="ordered">
            <p>Ordered <span>23kg</span></p>
        </div>
        <div class="stock">
            <p>In stock <span>23kg</span></p>
        </div>
        <div class="stock">
            <p>Batches planned: <span>38</span></p>
        </div>
        <div class="stock">
            <p>Already roasted: <span>18</span></p>
        </div>
        <div class="stock">
            <p>Batches left: <span>20</span></p>
        </div>
    </mat-card-content>
</mat-card>