<div class="main-content">
    <app-order-form [listItem]="order" (onSubmitted)="createOrder($event)">
        <h3>Add new Order</h3>
    </app-order-form>

    @if(orders$ | async; as orders) {
    <app-orders-list [listItems]="orders" (listElementDeleted)="onSelected($event)"
        (listElementEdited)="editOrder($event)"></app-orders-list>
    }

    <app-modal [id]="'deleteModal'">
        <app-delete-content [label]="'order'" (deleteEmitted)="onDelete(selectedOrder())"></app-delete-content>
    </app-modal>
</div>