@import "../../styles/config";

.table {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 3px solid $color-primary;
  border-radius: 10px;
  table {
    width: 100%;
    text-align: center;
    th {
      padding: 5px 20px;
      text-align: center;
      border-bottom: 1px solid $color-primary;
    }
    td {
      border-bottom: 1px solid $color-primary;
      padding: 5px 20px;
      button {
        border: none;
        background-color: inherit;
        i {
          color: $color-primary;
        }
      }
    }
  }
}
