@if(tableData) {
<div class="table">
    <table cdk-table [dataSource]="tableData">
        <ng-container cdkColumnDef={{displayedColumns[0]}}>
            <th cdk-header-cell *cdkHeaderCellDef> {{displayedColumns[0]}} </th>
            <td cdk-cell *cdkCellDef="let element; let i = index;"> {{i + 1}} </td>
        </ng-container>

        <ng-container cdkColumnDef={{displayedColumns[1]}}>
            <th cdk-header-cell *cdkHeaderCellDef> {{displayedColumns[1]}} </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container cdkColumnDef={{displayedColumns[2]}}>
            <th cdk-header-cell *cdkHeaderCellDef> {{displayedColumns[2]}} </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container cdkColumnDef={{displayedColumns[3]}}>
            <th cdk-header-cell *cdkHeaderCellDef> {{displayedColumns[3]}} </th>
            <td cdk-cell *cdkCellDef="let element">
                <button><i data-bs-toggle="modal" data-bs-target="#editModal" class="bi bi-pencil"
                        (click)="onElementEdit(element)"></i></button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef={{displayedColumns[4]}}>
            <th cdk-header-cell *cdkHeaderCellDef> {{displayedColumns[4]}} </th>
            <td cdk-cell *cdkCellDef="let element">
                <button data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onElementRemoved(element)"><i
                        class="bi bi-trash3"></i></button>
            </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

}