<div class="main-content">
    <div class="top">
        <h1>Inventory</h1>
        <app-button [label]="'Add new Inventory'" [type]="'button'" data-bs-toggle="modal"
            data-bs-target="#addNewModal"></app-button>
    </div>

    <app-modal [id]="'addNewModal'">
        <app-inventory-form form [inventory]="inventory()" (onFormSubmitted)="createInventory($event)">
            <h1>Add new Inventory</h1>
        </app-inventory-form>
    </app-modal>

    <app-modal [id]="'editModal'">
        <app-inventory-form form [inventory]="selectedInventory()" (onFormSubmitted)="editInventory($event)">
            <h1>Edit Inventory</h1>
        </app-inventory-form>
    </app-modal>
    <app-modal [id]="'deleteModal'">
        <app-delete-content [label]="'inventory'" (deleteEmitted)="onDelete(selectedInventory())"></app-delete-content>
    </app-modal>

    @if(inventory$ | async; as inventory) {
    <app-inventory-table [tableData]="inventory" (tableElementEdited)="onSelected($event)"
        (tableElementDeleted)="onSelected($event)"></app-inventory-table>
    }

</div>