@import "../../styles/config";

.main-content {
  padding: 100px 60px 60px 60px;

  .top {
    display: flex;
    justify-content: space-between;
    app-button {
      display: flex;
      align-items: center;
    }
  }
}
