@import "../../styles/config";

.main-content {
  padding: 100px 60px 60px 60px;

  .top {
    display: flex;
    justify-content: space-between;
    app-button {
      display: flex;
      align-items: center;
    }
  }

  .modal-delete {
    padding: 20px 30px;
    .buttons {
      display: flex;
      justify-content: end;
      margin-top: 30px;
      app-button {
        width: 100px;
        margin-left: 20px;
      }
    }
  }
}
