@import "../../styles/config";

.main-content {
  @extend %main-content;
  h1 {
    font-weight: 500;
  }
  .top {
    display: flex;
    justify-content: space-between;
    app-button {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 425px) {
  .main-content {
    padding: 100px 10px 20px 10px;
    .top {
      flex-direction: column;
      h1 {
        display: none;
      }
    }
  }
}
