@import "../../styles/config";

form {
  display: flex;
  gap: 20px;
  align-items: center;
  .form-field {
    @extend %form-ield;
    margin-top: 0px;
    align-items: center;
    label {
      margin-right: 10px;
    }
    input {
      @extend %input;
      color: $color-primary;
      padding: 0px 10px;
      width: 100px;
    }
    select {
      @extend %input;
      color: $color-primary;
      padding: 0px 10px;
      padding: 0px, 5px;
      width: 350px;
    }
    .error {
      @extend %form-error;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      @extend %form-btn;
    }
    button[disabled] {
      border: 1px solid $color-secondary;
      color: $color-secondary;
    }
  }
}

@media (max-width: 860px) {
  form {
    flex-direction: column;
  }
}

@media (max-width: 510px) {
  form {
    .form-field {
      select {
        width: 100%;
      }
    }
    .bottom {
      button {
        width: 100px;
      }
    }
  }
}
