@import "../../styles/config";

.main-content {
  padding: 20px 0px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      @extend %btn;
      margin-right: 100px;
    }
  }
}
