<h3>Orders</h3>
<div class="orders-list">
    @for(listItem of listItems; track listItem) {
    <div class="list-item">
        <div class="accordion">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{listItem.name}}</mat-panel-title>
                        <mat-panel-description>
                            Priority: {{listItem.priority}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-product-form [titles]="titles"
                        (productEmitted)="onProductAdded($event, listItem)"></app-product-form>

                    <app-product-view [listItemId]="listItem.id" [items]="listElements"></app-product-view>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <button (click)="onElementEditted(listItem)"><i class="bi bi-pencil"></i></button>
        <button data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onElementRemoved(listItem)"><i
                class="bi bi-trash3"></i></button>
    </div>
    @if(elementSelectedToEdit() === listItem ) {
    <app-order-form [listItem]="listItem" (onSubmitted)="onCloseEditForm(listItem)"></app-order-form>
    }
    }
</div>